.body {
  margin: 0;
  min-height: 100vh;
  background-image: url('./images/background.png');
  background-size: cover;
  color: #000;
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 30vh;
}

h1 {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 62px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px;
  text-align: center;
  text-transform: uppercase;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 51%,
    #da22ff 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 20px;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
}
