@media screen and (max-width: 1000px) {
    .searchContainer {
        width: 50% !important;
    }

    .searchBar {
        width: 45vh !important;
    }
}

.loggedIn{
    background-color: #804fc0;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    color: white;
    border-radius: 15px;
    margin-right: 10px;
    display: block;
    padding: 8px;
    font-size: medium;
    font-weight: 500;
    font-style: italic;
}